{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "styles/style.css" %}">
</head>

<body>

    <div class="container">
        <nav>
            <ul>
                <a href=""><li>HOME</li></a>
            </ul>
        </nav>
    </div>
    <br>
    <h1 style="text-align: center;">{{request.user.username}}</h1>
    
    <div class="form-container">
        <h1>Get Vechicle Detail For Insaurances</h1>
        <form method="post" id="insurance-form">
            {% csrf_token %}

            <div class="input-field">
                {{form}}
            </div>
            <button type="submit" id="insurance-btn">Submit</button>
        </form>
    </div>

</body>
</html>
