{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "styles/style.css" %}">
</head>

<body>

    <div class="container">
        <nav>
            <ul>
                <a href=""><li>HOME</li></a>
            </ul>
        </nav>
    </div>
    
    <div class="form-container">
        <h1>Get Vechicle Detail For Insaurances</h1>
        <form method="get" id="insurance-form">
            <div class="input-field">
                <label for="firstName">First Name:</label>
                <input type="text" name="first_name" id="first_name" placeholder="Enter your first name">
            </div>
            <div class="input-field">
                <label for="bloodGrp">Blood Group:</label>
                <input type="text" name="blood_grp" id="blood_grp" placeholder="Enter your blood group">
            </div>
            <div class="input-field">
                <label for="contactNumber">Contact Number:</label>
                <input type="tel" name="contact-no" id="contact-no" placeholder="Enter your contact number">
            </div>
            <button type="submit" id="insurance-btn">Submit</button>
        </form>
    </div>

</body>
</html>